
.container{
  display: flex;
}
* {
  box-sizing: border-box;
}


.heading {
  background-color: rgb(152, 199, 152);
  color:black;
  text-transform: uppercase;
  font-family: poppins;
  height: 250px;
  
  padding-top:70px;
  padding-left:50%;
  
}

p {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#a{
height:50px;
width:70px;
padding-top: 10px;
}

